In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
data = pd.read_csv('data.csv')

In [54]:
data

    studytime  score
0         2.5     21
1         5.1     47
2         3.2     27
3         8.5     75
4         3.5     30
..        ...    ...
91        5.8     60
92        4.4     44
93        6.1     63
94        3.7     37
95        8.0     84

[96 rows x 2 columns]

In [55]:
def lost_function(m, c, points):
    total_error= 0
    for i in range(len(points)):
        x= points.iloc[i].studytime
        y= points.iloc[i].score
        total_error += (y - (m*x+c))**2
    total_error / float(len(points))

In [ ]:
def gradient_descent(m_now, c_now, points, L):
    m_gradient = 0
    c_gradient = 0
    n = len(points)

    for i in range(n):
        x= points.iloc[i].studytime
        y= points.iloc[i].score

        m_gradient += -(2/n) *x *(y -(m_now * x + c_now))
        c_gradient += -(2/n) *(y -(m_now * x + c_now))
    m = m_now - m_gradient * L
    c = c_now - c_gradient * L
    return  m, c
m=0
c=0
L=0.0001
epochs = 300

for i in range(epochs):
    if i%50 == 0:
        print(f"Epoch: {i}")
    m, c = gradient_descent(m, c, data , L)

print(m, c)

Epoch: 0
Epoch: 50
Epoch: 100
Epoch: 150

In [ ]:
plt.scatter(data.studytime , data.score, color="black")
plt.plot(list(range(20, 80)), [m*x + c for x in range (20, 80)], color = "red")
plt.show()